<!-- <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <ul class="navbar-nav navbar-collapse justify-content-end">
                <li>
                    <a *ngIf="isLoggedIn" class="nav-link" href="/logout" (click)=handleLogout()>Logout</a>
                </li>
            </ul>
        </nav>
      </header> -->