
<div class="container">

        <form (ngSubmit)="processForm()">
            <div class="form group">
            <label for="id">Id</label>
                <input type="text" name="id" class="form-control" [(ngModel)]="patient.id">
            </div>
            <div class="form group">
                <label for="name"> Name</label>
                <input type="text" name="name" class="form-control" [(ngModel)]="patient.name">
            </div>
            <div class="form group">
                <label for="birthDate">Birth Date</label>
                <input type="text" name="birthDate" class="form-control" [(ngModel)]="patient.birthDate">
            </div>
            <div class="form group">
                    <label for="gender">Gender</label>
                    <input type="text" name="gender" class="form-control" [(ngModel)]="patient.gender">
            </div>
            <div class="form group">
                    <label for="address">Address</label>
                    <input type="text" name="address" class="form-control" [(ngModel)]="patient.address">
            </div>
            <div class="form group">
                    <label for="medicalRecord">Medical Record</label>
                    <input type="text" name="medicalRecord" class="form-control" [(ngModel)]="patient.medicalRecord">
            </div>
           
            <input type="submit" value="save" class="btn btn-success">
        </form>
    </div>