<p>caregiver-form works!</p>
<div class="container">

        <form (ngSubmit)="processForm()">
            <div class="form group">
            <label for="id">Id</label>
                <input type="text" name="id" class="form-control" [(ngModel)]="caregiver.id">
            </div>
            <div class="form group">
                <label for="name">First Name</label>
                <input type="text" name="name" class="form-control" [(ngModel)]="caregiver.name">
            </div>
            <div class="form group">
                <label for="birthDate">Birth Date</label>
                <input type="text" name="birthDate" class="form-control" [(ngModel)]="caregiver.birthDate">
            </div>
            <div class="form group">
                    <label for="gender">Gender</label>
                    <input type="text" name="gender" class="form-control" [(ngModel)]="caregiver.gender">
                </div>
                <div class="form group">
                        <label for="address">Address</label>
                        <input type="text" name="address" class="form-control" [(ngModel)]="caregiver.address">
                    </div>
            <input type="submit" value="save" class="btn btn-success">
        </form>
    </div>