<div class="container">

        <form (ngSubmit)="processForm()">
            <div class="form group">
            <label for="id">Id</label>
                <input type="text" name="id" class="form-control" [(ngModel)]="medication.id">
            </div>
            <div class="form group">
                <label for="name"> Name</label>
                <input type="text" name="name" class="form-control" [(ngModel)]="medication.name">
            </div>
            <div class="form group">
                <label for="dosage">Dosage</label>
                <input type="text" name="dosage" class="form-control" [(ngModel)]="medication.dosage">
            </div>
            <div class="form group">
                    <label for="sideEffects">Side Effects</label>
                    <input type="text" name="sideEffects" class="form-control" [(ngModel)]="medication.sideEffects">
            </div>
    
            <input type="submit" value="save" class="btn btn-success">
        </form>
    </div>