<div class="card my-5">
        <div class="card-body">
          <table class="steelBlueCols">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Birthdate</th>
                <th scope="col">Gender</th>
                <th scope="col">Adress</th>
                <th scope="col">Medical Record</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let patient of patients">
                <td>{{ patient.id }}</td>
                <td>{{ patient.name }}</td>
                <td>{{ patient.birthDate }}</td>
                <td>{{ patient.gender }}</td>
                <td>{{ patient.address }}</td>
                <td>{{ patient.medicalRecord }}</td>
                <td><button class="btn btn-danger" (click)="deletePatient(patient)">Delete</button>
                    <button class="btn btn-primary" (click)="updatePatient(patient)">Edit</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <button class="btn btn-primary" (click)="newPatient()">New Patient</button>
        <button class="btn btn-primary" (click)="goBack()">Back</button>

      </div>